* {
    font-family: 'Molengo', sans-serif;
  
    }


    body{
        border: 30px solid #F6E5E5;
    }
    
    h1 {
      color: #2e8b57;
    }
  
    .logo{
      width: 200px;
      height: 180px;
    }

    .bildes{
        width: 300px;
        height: 300px;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        padding-bottom: 50px;
      }

      .uppercase{
          text-transform: uppercase;
      }

      .ieslegts{
          color: red;
      }

      .zoom{
            transition: .2s;
      }

      .zoom:hover{
          transform: scale(1.2);
      }